<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="dark">
    <ion-title>profile</ion-title>
  </ion-navbar>



</ion-header>

<ion-content padding style="background-color: #f4f4f4" >

  <div style="background-color: #222; height: 123px;" class="fixed-content">
  </div>


  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/imgs/image%205.jpg" alt="">
      </div>
    </div>
  </div>



    <div>
      <ion-card>
        <ion-card-header (click)="showDashboard()">
          <ion-icon item-right [name]="showingValueDashboard"></ion-icon>

          Dashboard

        </ion-card-header>

        <ion-card-content *ngIf="showDashbord">

          some data is also here for showing
        </ion-card-content>

      </ion-card>


    </div>

    <div style="margin-top: 11px;">


      <ion-card>
        <ion-card-header (click)="showDownload()">
          <ion-icon item-right [name]="showingValueDownload"></ion-icon>

          Download

        </ion-card-header>

        <ion-card-content *ngIf="showDownloads">

          some data is also here for showing
        </ion-card-content>

      </ion-card>

    </div>

  <div style="margin-top: 11px;">


    <ion-card>
      <ion-card-header (click)="showAddress()">
        <ion-icon item-right [name]="showingValueAddresses"></ion-icon>

        Address

      </ion-card-header>

      <ion-card-content *ngIf="showAddresses">

        <h4>Billing Address</h4>

        <div>
          <p>{{addressLineOne}}</p>
          <p>{{addressLineTwo}}</p>
          <p>{{city}}</p>
          <p>{{postalCode}}</p>
        </div>
      </ion-card-content>

    </ion-card>

  </div>





  <button ion-button block (click)="logOutUser()">log out</button>

</ion-content>
