page-welcome {

  .welcome{

    position: center;
    left: calc(50% - 72px/2 - 0.5px);
    top: 12px;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;


    text-align: center;



    color: #000000;

  }

  .description{

    position: absolute;
    height: 38px;
    left: 24px;
    right: 24px;
    top: 134px;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;


    color: #000000;




  }

  .roundedInput {

    top: 160px;


    background: #F7F7F7;
    border-radius: 8px;
  }

  .button_login_data{


    top: 330px;


    background: #EB0C6D;
    border-radius: 8px;


    .loginData{

      position: absolute;
      width: 49px;
      height: 19px;
      left: calc(50% - 49px/2 - 119px);
      top: calc(50% - 19px/2);

      font-family: SF Pro Text;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;

      color: #FFFFFF;
    }
  }

  .buttonSignUp{


    top: 338px;


    background: #F7F7F7;
    border-radius: 8px;

    .signUpData{
      position: absolute;
      width: 61px;
      height: 19px;
      left: calc(50% - 61px/2 - 117px);
      top: calc(50% - 19px/2);

      font-family: SF Pro Text;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;


      color: #EB0C6D;
    }
  }
}
