page-otpsignup {


  .signUp{

    position: center;
    width: 375px;
    height: 44px;
    left: 0px;
    top: 44px;

    background: #FFFFFF;

    .signUpDetail{

      position: absolute;
      width: 66px;
      height: 19px;
      left: calc(50% - 66px/2 - 0.5px);
      top: 12px;

      font-family: SF Pro Text;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;

      color: #000000;

    }
  }
.otpValueSignUp{

  position: absolute;
  height: 38px;
  left: 24px;
  right: 24px;
  top: 134px;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;



  color: #000000;
}
  .otpDataSignUp{


    position: absolute;
    width: 224px;
    height: 44px;
    left: 24px;
    top: 196px;

  }

  .otpDataValueSignUp{


    position: absolute;
    width: 327px;
    height: 49px;
    left: 24px;
    top: 383px;


    background: #FFFFFF;
    border-radius: 8px;

  }
  .button {



    height: 49px;

    top: 448px;


    background: #EB0C6D;
    border-radius: 8px;

  }

  }
